<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular2 Observables Demo</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
      <input type="text" [formControl]="searchControl">
  </div>
  <h2>Search History : {{searchHistory}}</h2>
  <div class="row">
    <div *ngFor="let photo of photos">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src={{photo.url}}>
            <span class="card-title">{{photo.title}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <search-result *ngFor="let photo of photos" [photo]="photo" [query]="query"></search-result> -->
  </div>
</div>